<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <div class="container mx-auto bg-emerald-700 p-4 px-4 py-4 max-w-4xl">
            <div class="container bg-emerald-300 p-4 px-4 py-4">
                <h2 class="text-6xl mb-2 text-center px-2 py-2 font-bold text-white">404</h2>
                <h3 class="text-center p-4 px-2 py-2">Oops! Page not found.</h3>
                <p class="text-center">Sorry, the page you are looking for could not be found.</p>
                <div class="text-center mt-4">
                    <a href="" class="bg-teal-700 hover:bg-teal-500 text-white font-bold py-2 px-4 rounded my-4">Go to Home page</a>
                </div>
            </div>
        </div>


    </NotFound>
</Router>