@inherits LayoutComponentBase

<div class="flex justify-between p-2" style="background-color: #1E3D58;">
    <div>
        <a href="" class="font-bold text-lg text-white" style="color: #FFFFFF;">Home</a>
    </div>
    <div>
        <NavLink href="game" class="mr-4 text-white hover:text-royal-blue" style="color: #FFFFFF;">GuessingGame</NavLink>
        <NavLink href="hospital-equipment" class="text-white hover:text-royal-blue" style="color: #FFFFFF;">HospitalEquipment</NavLink>
    </div>
</div>

<div class="container mx-auto" style="background-color: #057DCD; padding-top: 1rem;border-bottom: 19px solid #057DCD;">
    @Body
</div>
