@inherits LayoutComponentBase

<div class="flex justify-between p-2 bg-teal-700">
    <div>
        <a href="" class="font-bold text-lg text-neutral-900 hover:text-teal-300">Home</a>
    </div>
    <div>
        <NavLink href="game" class="mr-4 text-neutral-900 hover:text-teal-300">GuessingGame</NavLink>
        <NavLink href="hospital-equipment" class="mr-4 text-neutral-900 hover:text-teal-300">HospitalEquipment</NavLink>
        <NavLink href="revision/hello" class="mr-4 text-neutral-900 hover:text-teal-300">Revision</NavLink>
    </div>
</div>

<div class="container mx-auto bg-neutral-200 p-4 px-4 py-4 max-w-6xl">
    @Body
</div>