@page "/game"
<div class="container mx-auto bg-neutral-200 p-4 px-4 py-4">
@if (!IsPlaying)
{
        <h1 class="font-bold text-2xl text-neutral-900">Welcome to the Number Guessing Game</h1>
        <button class="bg-teal-300 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded" @onclick="StartGame">Start Game</button>
}
else 
{
        <p class="text-lg">I'm thinking of a number between 1 and 100. Can you guess it?</p>
        <p class="text-lg">Enter your guess:</p>
        <input class="border rounded py-2 px-3 mb-4" type="number" @bind="@Guess" />
        <button class="bg-emerald-300 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded mr-2" @onclick="CheckGuess">Submit</button>
        <button class="bg-red-300 hover:bg-red-700 test-white font-bold py-2 px-4 rounded" @onclick="EndGame">End Game</button>
    @if (!string.IsNullOrEmpty(@Result))
    {
        <p class="text-lg">@Result</p>
        @if (@Result.Contains("Congratulations"))
        {
                <button class="bg-emerald-700 hover:bg-emerald-300 text-white font-bold py-2 px-4 rounded mt-4" @onclick="StartGame">Play Again</button>
        }
    }
}
</div>
@code{
    private bool IsPlaying = false;
    private int RandomNumber;
    private int Guess;
    private string? Result;

    private readonly Random random = new();

    private void StartGame()
    {
        IsPlaying = true;
        RandomNumber = random.Next(1, 101);
        Guess = 0;
        Result = null;
    }

    private void CheckGuess()
    {
        if (Guess < 1 || Guess > 100)
        {
            Result = "Invalid input. Please enter a whole number between 1 and 100";
            return;
        }

        if (Guess == RandomNumber)
        {
            Result = $"Congratulations! You guessed the number {RandomNumber}.";
        }
        else
        {
            Result = Guess < RandomNumber ? "Too low. Try again." : "Too high. Try again.";
        }
    }

    private void EndGame()
    {
        IsPlaying = false;
        Result = null;
    }
}