@page "/"

  <div class="bg-emerald-300 py-20">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-4xl font-bold text-neutral-900 mb-8">Welcome to my page.</h1>
        <p class="text-xl text-teal-700 mb-8">Look at the menu at the top to browse more pages.</p>
        <p class="text-xl text-teal-700">
            Wanna see my school?, visit <a href="https://www.fbmi.cvut.cz/" target="_blank" rel="noopener noreferrer" class="underline text-neutral-50">www.fbmi.cvut.cz</a>.
        </p>
    </div>
  </div>

